In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([['green', 'M', 'male', 'short'],
                   ['red','L','female','normal'],
                   ['blue','XL','male','lone']])
df.columns = ['colours', 'size', 'sex', 'lenght']
df

  colours size     sex  lenght
0   green    M    male   short
1     red    L  female  normal
2    blue   XL    male    lone

In [3]:
from sklearn.preprocessing import LabelEncoder
df['siza_label'] = LabelEncoder().fit_transform(df['size'].values)
df

  colours size     sex  lenght  siza_label
0   green    M    male   short           1
1     red    L  female  normal           0
2    blue   XL    male    lone           2

In [5]:
ord('L'), ord('M'),ord('X')

(76, 77, 88)

In [15]:
pf = pd.get_dummies(df[['colours']])
df = pd.concat([df, pf], axis = 1, join = 'outer')
df

,colours,size,sex,lenght,siza_label,colours_blue,colours_green,colours_red
0,green,M,male,short,1,0,1,0
1,red,L,female,normal,0,0,0,1
2,blue,XL,male,lone,2,1,0,0

In [16]:
tmp_data = pd.DataFrame([['2020-11-01', 24.8], 
              ['2020-11-02', 24.8],
              ['2020-11-03', None],
              ['2020-11-04', 25]],columns=['date','current_temp'])
tmp_data

         date  current_temp
0  2020-11-01          24.8
1  2020-11-02          24.8
2  2020-11-03           NaN
3  2020-11-04          25.0

In [19]:
print('with zero','\n',tmp_data.fillna(0))
print('with mean','\n',tmp_data.fillna(tmp_data.current_temp.mean()))
print('with median','\n',tmp_data.fillna(tmp_data.current_temp.median()))
print('with front data','\n',tmp_data.fillna(method = 'ffill'))
print('with back data','\n',tmp_data.fillna(method = 'bfill'))

with zero
          date  current_temp
0  2020-11-01          24.8
1  2020-11-02          24.8
2  2020-11-03           0.0
3  2020-11-04          25.0
with mean
          date  current_temp
0  2020-11-01     24.800000
1  2020-11-02     24.800000
2  2020-11-03     24.866667
3  2020-11-04     25.000000
with median
          date  current_temp
0  2020-11-01          24.8
1  2020-11-02          24.8
2  2020-11-03          24.8
3  2020-11-04          25.0
with front data
          date  current_temp
0  2020-11-01          24.8
1  2020-11-02          24.8
2  2020-11-03          24.8
3  2020-11-04          25.0
with back data
          date  current_temp
0  2020-11-01          24.8
1  2020-11-02          24.8
2  2020-11-03          25.0
3  2020-11-04          25.0

In [20]:
import numpy as np

In [21]:
country = ['Taiwan', 'Australia', 'Ireland', 'Australia', 'Ireland', 'Taiwan']
age = [25, 30, 45, 35, 22, 36]
salary = [20000, 32000, 59000, 60000, 43000, 52000]
dic = {'Country':country, 'Age' : age, 'Salary': salary}
data = pd.DataFrame(dic)
data
#以標籤編碼

     Country  Age  Salary
0     Taiwan   25   20000
1  Australia   30   32000
2    Ireland   45   59000
3  Australia   35   60000
4    Ireland   22   43000
5     Taiwan   36   52000